@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ====== RESET ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ====== Variáveis ====== */
:root {
  --cor-background: #030F0F;
  --cor-segundaria: #03624C;
  --cor-terceira: #79b5a08a;
  --cor-texto: #E4E4E4;
  --borda: 1px solid #02df836f;
}


/* Largura/altura da barra */
::-webkit-scrollbar {
  width: 5px;          /* para barra vertical */
}

/* Trilha (fundo da barra) */
::-webkit-scrollbar-track {
  background: var(--cor-background);      /* cor de fundo */
  border-radius: 3px;
}

/* Pega/Thumb (parte que se move) */
::-webkit-scrollbar-thumb {
  background: var(--cor-segundaria);
  border-radius: 3px;
}

/* Ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--cor-terceira);
}


/* ================================= */

 .dropbtn {
  width: 100%;
  padding: 15px;
  margin-bottom: 8px;
  font-size: 16px;
  text-align: left;
  color: var(--text-primary-color);
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
} 

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--cor-background);
  min-width: 100%;
  border: var(--borda);
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cor-texto);
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a svg {
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 4px;
  margin-right: 3px;
  transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover svg {
  transform: rotateZ(45deg);
  margin-right: 0;
}

.dropdown-content a:hover {
  background-color: rgba(48, 224, 165, 0.1);
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
