/* ====== VARIÁVEIS GLOBAIS ====== */
:root {
  --background-color: #030f0f;
  --sidebar-color: #79b5a00a;
  --text-primary-color: #ffffff;
  --text-secondary-color: #a0a0a0;
  --accent-color: #30e0a5;
  --border-color: #02df8334;
  --hover-color: rgba(48, 224, 165, 0.1);
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-primary-color);
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* ====== CONTEÚDO PRINCIPAL ====== */
.main-content {
  flex-grow: 1;
  height: 100vh;
  padding: 20px 20px 90px;
  overflow-y: auto;
}

.main-content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.code-content {
  display: none;
  margin-bottom: 10px;
}

.code-content.active {
  display: block;
}

.message-display {
  margin: 21px 0;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-primary-color);
  word-wrap: break-word;
  border-bottom: 1px solid var(--border-color);
}

.message-display a,
.message-display p {
  margin-left: 10px;
}

.tagName {
  display: inline-block;
  margin-bottom: 21px;
  padding: 8px 15px;
  font-size: 15px;
  color: var(--accent-color);
  background-color: var(--sidebar-color);
  border-radius: 8px;
  opacity: 0.7;
}

.tagBtn {
  background-color: #30e0a5;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 500;
  border: none;
}

.tagBtn:hover {
  background-color: var(--sidebar-color);
  color: var(--accent-color);
}
